body{
    background-image: url('download.jpeg');
    background-repeat: no-repeat;
    background-size:100%;
}
*{
    margin: 0px;
    padding: 0px;
}
header{
    margin: auto;
    /* width: 100%; */
}
.navbar{
    background-color: rgb(4, 4, 4);
    /* border-radius: 40px; */
    font-weight: bold;
}
.navbar li a:hover{
    color: black;
    font-size: 20px;
    font-weight: 20px;
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 1), 
    0px 0px 10px rgba(22, 114, 201,1), 
    0px 0px 15px rgba(22, 114, 201,1),
    0px 0px 20px rgb(101, 176, 195),
    0px 0px 30px rgb(101, 176, 195),
    0px 0px 40px rgb(101, 176, 195),
    0px 0px 55px rgb(101, 176, 195),
    0px 0px 75px rgb(101, 176, 195);
}
.navbar ul{
    overflow: auto;
}
.navbar li{
    float: left;
    list-style: none;
    margin: 13px 8px;
}
.navbar li a{
    text-decoration: none;
    padding: 3px 3px;
    color: white;
}
.serch{
    color: white;
    float: right;   
    padding: 13px 75px;
    text-align: center;
    font-size: 18px;
}
.serch a{
    text-decoration: none;
    color: white;
}
.navbar input{
    border-radius: 10px;
    border: 2px solid white;
    padding: 3px 17px;
    margin: 0px 10px;
    width: 129px;
}